@font-face {
    font-family: font1;
    src: url(./Fonts/font\ 2.woff2);
}


*{
margin:0%;
padding:0%;
box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}
#nav{
    width: 100%;
    height: 45px;
    background-color: rgb(28, 28, 28);
    color: white;
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

h4{
    font-size: 15px;
    font-weight: 200;
    font-family: font1;
    cursor: pointer;
}
#highlight{
    height: 45px;
    width: 100%;
    background-color: rgb(37, 37, 37);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-family: font1;
}
#highlight h2{
    color: blue;
}
#highlight a{
    color: blue;
}
#section{
    width: 100%;
    height: 90%;
    background-image: url(./Image/Iphone.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: font1;
    position: absolute;
    
}
#section h1{
    font-weight: 800;
    font-size: 70px;
    margin-top: -500px;
}
#section h3{
    font-size: 30px;
}
button{
    padding: 15px 25px;
    background-color: rgb(0, 94, 255);
    border: 2px solid rgb(0, 94, 255);
    border-radius: 65px;
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
}
#buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translate(-50%);
}
#buttons button:nth-child(2){
    background-color: transparent;
    color: rgb(0, 94, 255);
}
#buttons button:nth-child(2):hover{
    background-color: blue;
    color: rgb(255, 255, 255);
}

