@font-face {
    font-family: apple;
    src: url(./sf-pro-text_regular.woff2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: apple;
}
html,body{
    height: 100%;
    width: 100%;
}
#nav{
    height: 40px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

}
#nav h4{
    color: rgb(0, 0, 0);
    font-weight: 100;
    font-size: 12px;
}
#centre{
    height: 90%;
    width: 100%;
    background-image: url(./hero_iphone_17_pro__bknyzxfk2agi_mediumtall_2x\ \(1\).jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 50px;
}
#centre h1{
    color: white;
    font-size: 50px;
    font-weight: 400;
    font-family: apple;
}
#centre h5{
    color: white;
    font-size: 30px;
    font-weight: 100;
}
#links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 30px;
}
#links button{
    background-color: royalblue;
    color: white;
    padding: 13px 20px;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    font-weight: 400;
}

#centre2{
    height: 90%;
    width: 100%;
    background-color: rgb(240, 240, 240);
    background-image: url(./hero_iphone_air__0gxyavihpiqu_mediumtall_2x.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 50px;
}
#centre2 h1{
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-weight: 900;
    font-family: apple;
}
#centre2 h5{
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 100;
}

